.transaction-history {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  
  .table-header-item,
  .table-row-item {
    padding: 15px 25px;
    text-align: center;
    border-bottom: 1px solid #8f5050;
  }
  
  .table-header-item {
    background-color: #331818;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
  }
  
  .table-row-item {
    font-size: 16px;
    color: #424242;
  }
  
  .table-row:nth-child(2n) {
    background-color: #eeeeee;
  }
  
  .table-row:nth-child(2n + 1) {
    background-color: #fff;
  }